@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-grey-palette: mat-palette($mat-grey, 800);
$app-primary-palette: mat-palette($mat-light-green);
// $app-accent:  mat-palette($mat-light-green);
$app-accent-palette:   mat-palette($mat-brown, 200, 100, 400);
$app-warn-palette:    mat-palette($mat-pink);
$app-success-palette: mat-palette($mat-light-green);
$app-danger-pallet: mat-palette($mat-red, 800);

// General app colors
$app-primary: mat-color($app-primary-palette);
$app-grey: mat-color($app-grey-palette);
$app-accent: mat-color($app-accent-palette);
$app-warn: mat-color($app-warn-palette);

$app-warn-dark: mat-color($app-warn-palette, 700);

$app-success-color: mat-color($app-success-palette);
$app-danger-color: mat-color($app-danger-pallet);

