@import "./_colors.scss";
@mixin expandable-table-css {
  table {
    width: 100%;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: $app-primary;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: $app-primary;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
}
