
<div [formGroup]='pollyFormGroup'>

  <mat-card class="mb-5">
    <mat-card-title>Title</mat-card-title>

    <!-- <mat-card-content [formGroup]='this.title'> -->
    <mat-card-content>
      <mat-form-field appearance="fill" class="w-100">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Enter a title for the polly" type="text" id="title" formControlName="title" [formControl]="this.title()" >
      </mat-form-field>
      <div *ngIf="this.title().invalid && (this.title().dirty || this.title().touched)" class="alert alert-danger">
        <div *ngIf="this.title().errors.required">
            Description is required.
        </div>
        <div *ngIf="this.title().errors.minlength">
            Title must contain at least {{this.validLength()}} letters.
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-5 mb-5">
    <mat-card-content>
      <div class="row mb-3">

        <div class="col-6">

          <div class="row">
            <div class="col-12">
              <mat-card-title>
                Language
              </mat-card-title>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Language</mat-label>
                <mat-select id='language_code' ngDefaultControl  name='language_code' formControlName="language_code" [formControl]="this.languageCode()" >
                  <mat-option *ngFor="let language_code of this.languages() | keyvalue" value="{{language_code.value}}">{{language_code.key}}</mat-option>
                </mat-select>
              </mat-form-field>

              <div *ngIf="this.languageCode().invalid && (this.languageCode().dirty || this.languageCode().touched)" class="alert alert-danger">
                <div *ngIf="this.languageCode().errors.required">
                    Language is required.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <mat-card-title>
                Voice {{this.voiceCode().value}}
              </mat-card-title>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Voice</mat-label>
                <mat-select id='voice_code' ngDefaultControl value='{{this.voiceCode().value}}'  name='voice_code' formControlName="voice_code" [formControl]="this.voiceCode()" >
                  <mat-option *ngFor="let voice_code of this.voices()" value="{{voice_code.Id}}">{{voice_code.Name}} - {{voice_code.Gender}}</mat-option>
                </mat-select>
              </mat-form-field>

              <div *ngIf="this.voiceCode().invalid && (this.voiceCode().dirty || this.voiceCode().touched)" class="alert alert-danger">
                <div *ngIf="this.voiceCode().errors.required">
                    Voice is required.
                </div>
              </div>
            </div>
          </div>

        </div>


        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <mat-card-title>
                Speech
              </mat-card-title>
              <mat-form-field appearance="fill" class="w-100 speech-text-area">
                  <mat-label>Speech</mat-label>
                  <textarea matInput placeholder="Polly Speech" formControlName="text" [formControl]="this.text()"></textarea>
              </mat-form-field>

              <div *ngIf="this.text().invalid && (this.text().dirty || this.text().touched)" class="alert alert-danger">
                <div *ngIf="this.text().errors.required">
                    Speech text is required.
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
