.actions-row {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;

    button, a {
        margin: auto;
    }

    &:last-child {
        margin-top: unset;
        margin-bottom: unset;
    }
}


.distance-slider {
    width: 100%;
}

.space-img {
    height: 40px;
    width: 40px;
}
