<div class="cover">
    <div class="container mt-2">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <img src='assets/images/jinkies-cosmo-doom-logo.png' alt='jinkies-logo'>
            </div>
        </div>
        <div class="row mt-5">
            <div class="offset-md-3 col-12 col-md-6">
                <mat-card class="login-card">
                    <form>
                        <mat-card-header>
                            <!-- <div mat-card-avatar class="example-header-image"></div> -->
                            <mat-card-title>Jinkies Cosmo</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                          <mat-form-field class="w-100">
                              <mat-label>email</mat-label>
                              <!-- <input matInput type="text" placeholder="Enter email" id="email" [(ngModel)]="email" > -->
                              <input matInput type="text" placeholder="Enter email" [formControl]="email">
                              <!-- [formControl="slide.media"  formControlName="email" "-->
                          </mat-form-field>

                          <mat-form-field class="w-100">
                              <mat-label>Password</mat-label>
                              <!-- <input type="password" matInput placeholder="Enter password" id="password" [(ngModel)]="password"> -->
                              <input type="password" matInput placeholder="Enter password" [formControl]="password">
                              <!-- [formControl]="slide.content"  formControlName="password" "-->
                          </mat-form-field>

                          <div *ngIf="(this.password.invalid && (this.password.touched || this.password.dirty)) || (this.email.invalid && (this.email.dirty || this.email.touched))" class="alert alert-danger">
                            <div *ngIf="this.email.errors && this.password">
                              Failed to login, incorrect email/password.
                            </div>
                          </div>
                        </mat-card-content>

                        <div class='row'>
                          <div class='col-12'>
                            <mat-progress-bar class='loading-bar' mode="indeterminate"  *ngIf="this.showLoading"></mat-progress-bar>
                          </div>
                        </div>

                        <mat-card-actions class="text-right" >
                          <button class="cybr-btn primary" (click)="login()" *ngIf="!this.showLoading">
                            Login<span aria-hidden>_</span>
                            <span aria-hidden class="cybr-btn__glitch">Jinkies_</span>
                            <span aria-hidden class="cybr-btn__tag">2.0</span>
                          </button>
                        </mat-card-actions>
                    </form>
                </mat-card>
            </div>
        </div>
        <div>

        </div>

        <img class="bottom-left-gif" src='assets/images/Duke-ShakeIt.gif' alt='jinkies-logo'>
        <img class="bottom-right-gif" src='assets/images/Duke-Stripper.gif' alt='jinkies-logo'>
    </div>
</div>

