
<h3>Domains available for purchase:</h3>


<mat-card>Simple card
    <mat-card-header>
    <mat-card-title>card title </mat-card-title>
    <mat-card-subtitle>	Card subtitle </mat-card-subtitle>
    <img mat-card-avatar>	avagar image
    </mat-card-header>
    <mat-card-content>	Primary card content. Intended for blocks of text
    <img mat-card-image>	Card image. Stretches the image to the container width </mat-card-content>
    <mat-card-actions>	
        <button color='primary' mat-button>Ok</button>
        <button color='warn' mat-raised-button>Cancel</button>
        <button color='accent' aria-label='aria label' mat-fab>Cancel</button>
        <button mat-stroked-button>cancel</button>
        <!-- mat-button	Rectangular text button w/ no elevation
        mat-raised-button	Rectangular contained button w/ elevation
        mat-flat-button	Rectangular contained button w/ no elevation
        mat-stroked-button	Rectangular outlined button w/ no elevation
        mat-icon-button	Circular button with a transparent background, meant to contain an icon
        mat-fab	Circular button w/ elevation, defaults to theme's accent color
        mat-mini-fab	Same as mat-fab but smaller -->
    </mat-card-actions>
    <mat-card-footer>footer</mat-card-footer>   

</mat-card>


<!-- <mat-card-title-group> can be used to combine a title, subtitle, and image into a single section. This element can contain:

    <mat-card-title>
    <mat-card-subtitle>
    One of:
    <img mat-card-sm-image>
    <img mat-card-md-image>
    <img mat-card-lg-image> -->





COM

<ul>
    <li>scotiabankbitcoin.com</li>
    <li>tangerinebitcoin.com</li>
    <li>homealoneclub.com</li>
</ul>

CA
<ul>
    <li>tdbitcoin.ca</li>
    <li>tdcryptocurrency.ca</li>
    <li>rbcbitcoin.ca</li>
    <li>cibcbitcoin.ca</li>
    <li>scotiabankbitcoin.ca</li>
    <li>tangerinebitcoin.ca</li>
</ul>

    


<fa-stack>
    <fa-icon class="piggy" [icon]="faPiggyBank" stackItemSize="2x" size="lg" ></fa-icon>
    <!-- [inverse]="true" should inverse the color -->
    <fa-icon id="dollar" [icon]="faDollarSign" stackItemSize="1x"  transform="right-6 shrink-3" ></fa-icon>  
</fa-stack>
