

/* host selector targets the container of the component itself so you do not
    need to specifically select elements inside of the component
:host {
    display: block;
    border: 1px solid black;
  }


 for when the :host is the currently active component 
  :host(.active) {
    border-width: 3px;
  } 

- will apply background color to h2's only if an ancestor element contains class .theme-light
  :host-context(.theme-light) h2 {
    background-color: #eef;
  }
  
  
  
  
  */