
<div class="row">

    <div class="col-12 col-md-2">
        <span class="">Slide {{slideIndex}}</span>
    </div>
    <div class="col-12 col-md-8">

        <div class="form-group">
            <label for="username">Media</label>
            <input class="form-control" type="text" id="username" [formControl]="media" >
            <!-- <small id="usernameHelp" class="form-text text-muted">Some note below text.</small> -->
        </div>

        <div class="form-group">
            <label for="password">Content</label>
            <textarea class="form-control" type="password" id="password" [formControl]="content"></textarea>
        </div>

    </div>

</div>

