
<h3>Domains available for purchase:</h3>

<app-carousel 
    showNavigationArrows="false" 
    showNavigationIndicators="true"
    keyboard="true"
    pauseOnHover="true"
    wrap="true"
    [carouselContent]='carouselContent'

    interval="800"
></app-carousel>

<div class='row'>
    <div class='col-md-6 col-12'>
        <ul class="list-group">
            <li class="list-group-item active text-center">.CA</li>
            <li class="list-group-item" *ngFor='let domain of caDomains'>
                <mat-icon class='align-middle' matListIcon>domain</mat-icon> <span class='align-middle'> {{domain}} . ca</span>
            </li>
        </ul>
    </div>
    <div class='col-md-6 col-12'>
        <ul class="list-group">
            <li class="list-group-item active text-center">.COM</li>
            <li class="list-group-item" *ngFor='let domain of comDomains'>
                <mat-icon class='align-middle' matListIcon>domain</mat-icon> <span class='align-middle'> {{domain}} . com</span>
            </li>
        </ul>
    </div>
</div>


    

        