
<h3>Domains available for purchase:</h3>

<app-carousel 
    showNavigationArrows="false" 
    showNavigationIndicators="true"
    keyboard="true"
    pauseOnHover="true"
    wrap="true"
    [carouselContent]='carouselContent'

    interval="800"
></app-carousel>

<mat-grid-list cols="2" rowHeight="1:1" gutterSize='15px'>
    <mat-grid-tile>
        <mat-grid-tile-header>.CA</mat-grid-tile-header>
        <mat-list class="grid-top grid-wide">
            <mat-list-item *ngFor='let domain_ of caDomains'>
                <mat-icon matListIcon>domain</mat-icon>
                <!-- <h3 matLine> from </h3> -->
                <p matLine>
                <span> {{domain_}} </span>
                <span class="demo-2"> . ca </span>
                </p>
            </mat-list-item>
        </mat-list>
        <!-- <mat-grid-tile-footer>footer</mat-grid-tile-footer> -->
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-grid-tile-header>.COM</mat-grid-tile-header>
        <mat-list class="grid-top grid-wide">
            <mat-list-item *ngFor='let domain_ of comDomains'>
                <mat-icon matListIcon>domain</mat-icon>
                <!-- <h3 matLine> from </h3> -->
                <p matLine>
                <span> {{domain_}} </span>
                <span class="demo-2"> . com </span>
                </p>
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
</mat-grid-list>