<div class='cover'>
    <div class='col-12 mt-5 d-flex'>
        <div class="m-auto text-center">
            <img src='assets/images/jinkies-404-not-found-red.png' alt='jinkies-logo'>
        <!-- <a href='/'>
            <button color='warn' aria-label='aria label' mat-fab>
                <mat-icon matListIcon>home</mat-icon>
            </button>
        </a> -->
            <div class="mt-5">
                <a href='/'
                mat-raised-button 
                color='warn' >
                    <mat-icon matListIcon>home</mat-icon>
                </a>
            </div>
        </div>

    </div>
</div>