@import "./sass/_colors.scss";



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//------------------ General App CSS / Overrides for theme -------
// a:hover, a:focus, a:active {
//     color: $app-warn !important;
// }

// .mat-sidenav {
//     background-image: linear-gradient($app-grey, $app-accent);
//     box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
//     min-height: 100%;
// }

.loading-bar {
  position: fixed;
  top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

//------------------ Bootstrap Custom Styles ---------------------
.list-group-item {
    background-color: $app-grey !important;

    &.active {
        background-color: $app-warn-dark !important;
        border-color: $app-warn-dark !important;
    }
}

//------------------ Angular Material ----------------------------

//Use on mat-list if you want grid tile content to start at the
//top of every tile instead of v-aligned middle
.grid-top {
    position: absolute;
    top: 48px; //48 px is the height of the header
}

//this is used if you want the content to show on the far left of the tile
.grid-wide {
    width: 100%;
}

.success-snackbar {
  background-color: $app-success-color;
}

.danger-snackbar {
  background-color: $app-danger-color;
}

//------------------ NG Bootstrap related CSS --------------------
ngb-carousel {
    max-width: 700px;
    margin: 50px auto;
    max-height: 500px;
    width: inherit;
    height: inherit;
    z-index: 0;

    img {
        width: 100%;
        outline: none;
    }

    .carousel-inner {
        overflow: visible;
    }

    .carousel-item {
        display: flex !important;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1.2s ease-in-out, visibility 1.2s;
        z-index: -1;
    }

    .carousel-item.active{
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }

    .carousel-control-prev, .carousel-control-next, .carousel-indicators {
        z-index: 20;
        cursor: pointer;
    }
}




