<div class="container mt-5">

    <form [formGroup]='articleForm' (ngSubmit)='submitArticle()'>

        <span *ngFor="let slide of slides; let i = index">
            <mat-divider class="mb-5" *ngIf="i != 0"></mat-divider>
            <app-slide
                [slide]='slides[i]'
                [slideIndex]='i' 
                [form] = 'articleForm'
                (delete)="deleteSlide($event)">
            </app-slide>
        </span>


    <div class="row">
        <div class="col-12 col-md-2 text-center">
            <button
                mat-raised-button 
                color='primary' 
                matTooltip="Will add a new article slide to your article" 
                matTooltipPosition="below" 
                (click)="addSlide()">
                    Add Slide
            </button>
        </div>
    </div>

    <div class="offset-2 col-8 submit-container text-center">
        <div class="form-group">
            <button class="btn btn-primary" type="submit" >Create Article</button>
        </div>
    </div>


   </form>
</div>
