<div class="container mt-5">

    <form [formGroup]='articleFormArray' (ngSubmit)='submitArticle()'>

        <span *ngFor="let formGroup of articleFormArray.controls; let i = index">
            <mat-divider class="mb-5" *ngIf="i != 0"></mat-divider>
            <app-slide
                [slide]='formGroup'
                [slideIndex]='i'
                [form] = 'articleFormArray'
                (insert)="insertSlide($event)"
                (delete)="deleteSlide($event)">
            </app-slide>
        </span>


    <div class="offset-2 col-8 submit-container text-center">
        <div class="form-group">
            <button class="btn btn-primary" type="submit" >Create Article</button>
        </div>
    </div>

   </form>
</div>
